.image{
    width: 400px;
    hight: 300px;

}

.cucco{
    display: flex;
    text-align: center;
    justify-content: center;
}
.text{
    text-align: center;
    justify-content: center;
    font-size: 2em;
    margin: 16px 0 16px!important;
    margin-block-start: 0 !important;
}


.title{
    font-size: 89px;
    margin: 20px 0 0 22px !important;
}